


<h1>Hello,  <%= current_user.user_name %> </h1><br>

 It's you'r personal area <br>
   You can see info about you



<br>
<br>
<br>


<p>
  <strong>Name : </strong>
  <%= current_user.user_name %>
</p>

<p>
  <strong>ID : </strong>
  <%= current_user.id %>
</p>


<p>
  <strong>Wins : </strong>
  <%= current_user.wins %>
</p>

<p>
  <strong>Loss : </strong>
  <%= current_user.loss %>
</p>

<p>
  <strong>MMR : </strong>
  <%= current_user.mmr %>



</p>






