


<h1>Здравствуйте, <%= current_user.user_name %> </h1><br>

 It's you'r personal area.
  this you can see you informations.






<p>
  <strong>Name : </strong>
  <%= current_user.user_name %>
</p>

<p>
  <strong>ID : </strong>
  <%= current_user.id %>
</p>


<p>
  <strong>Wins : </strong>
  <%= current_user.id %>
</p>

<p>
  <strong>Loos : </strong>
  <%= current_user.id %>
</p>

<p>
  <strong>MMR : </strong>
  <%= current_user.id %>
</p>



