 <h1>Fuccking Game!!!</h1>
 <input type="hidden" name="room_id" value="<%= @room.id%>"/>
 <br>
 <br>
 <%=current_user.user_name%>
 <br>
 <br>

 ID
 <%= @room.id%>
 <br>
 First_pl
 <%=@room.first_user.user_name%>
 <br>
 VS
 <br>
 Sec_pl
 <%=@room.second_user ? @room.second_user.user_name : "Waiting...."%>
 <br>
 <br>
 <br>
 <div class="xo">
   <div class="col-xs-4"></div>
   <div class="col-xs-4"></div>
   <div class="col-xs-4"></div>
   <div class="col-xs-4"></div>
   <div class="col-xs-4"></div>
   <div class="col-xs-4"></div>
   <div class="col-xs-4"></div>
   <div class="col-xs-4"></div>
   <div class="col-xs-4"></div>
 </div>